@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html, body, svg, div {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Orbitron', sans-serif;
    position:absolute;
    /*   overflow:visible; */
}

.leftSide, .rightSide {
    width:50%;
    height:100%;
}

.rightSide {
    left:50%;
}