<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>baza</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/baza.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <style> body{background: #f9f9f9;} .w-100{width:100%} .w-50{width:50%}</style>
</head>
<body>
    <div class="container">
    <div class="row">
        <h1 class="text-center">Проект ебучий</h1>
    <div class="col-6">
    <form action="" class="pt-5" method="post" id="form">
      <div class="form-group">
          <label class="form-check-label pt-1 d-block" for="admins">Check me out</label>
        <input type="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group table">
          <label class="form-check-label pt-1" for="admins">Check me out</label>
            <select class="form-select" aria-label="table" id="bd_type">
                <option name="admins" value="admins" selected>admins</option>
                <option name="room" value="room" selected>room</option>
                <option name="console" value="console" selected>console</option>
                <option name="rent_room" value="rent_room" selected>rent_room</option>
                <option name="quests" value="guests" selected>guests</option>
            </select>
          <label class="form-check-label pt-1" for="admins">Check me out</label>
            <select class="form-select" aria-label="table" id="bd_type">
                <option name="admins" value="admins" selected>{{var1}}</option>
                <option name="room" value="room" selected>{{ var2 }}</option>
                <option name="console" value="console" selected>{{ var3 }}</option>
                <option name="rent_room" value="rent_room" selected>{{ var4 }}</option>
                <option name="quests" value="guests" selected>{{ var5 }}</option>
            </select>
      </div>
     <button type="submit" class="btn btn-primary btn-lg  w-100">Large button</button>
    </form>
    </div>
        <div class="col-3">
        <img class="d-block img-fluid" src="https://i.pinimg.com/736x/a2/59/54/a25954d0f931bef5dd51cb792e362890.jpg">
        </div>
    </div>
        <div class="row pt-5">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Key</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
              <tbody>

              <tr>
              {% for i in keys_list %}
                  <th>{{ i }}</th>
              {% endfor %}
              {% for z in value_list %}
                  <th>{{ z }}</th>
                </tr>
              {% endfor %}

              </tbody>
            </table>
        </div>
    </div>
    </div>
 <script src="/static/js/basa.js"></script>
</body>
</html>