body{
    background-image: url(image/picture.jpg); /* в папочке image лежит картинка с названием fon.jpg */
    background-size: 1920px , 1080px;
    background-repeat:no-repeat;

    font-family: "Europa Brush", serif;
    color: blue;

}

.main{
    position: center;
    right: auto;
    left: auto;
    margin: 500px;
    padding-top: 10px;
    padding-right: 150px;
    text-decoration-color: blue;
    text-align: center;
}