<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/glavnaya.css">
</head>
<canvas id="c"></canvas>
<script src="/static/js/glavnaya.js"></script>

<body>
<ul>
    <li><a href="{{ url_for('registration') }}">Регистрация</a></li>
    <li><a href="{{ url_for('login') }}">Логин</a></li>
    <li><a href="{{ url_for('neyronka') }}">Нейросеть</a></li>
    <li><a href="{{ url_for('login') }}">База</a></li>
</ul>
</body>
</html>