<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Project</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="/templates/image/icon.ico" type="image/x-icon">
</head>
<body>
<header>
  <div class="header">




  </div>
</header>
<main>

  <form action="" method="post">
    <p>
      <label for="username">Username</label>
      <input type="text" name="username">
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" name="password">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>

  </div>
</main>
<footer></footer>
</body>
</html>
