<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/templates/image/icon.ico" type="image/x-icon">
</head>
<body>
<header>
    <div class="header">

        <form action="" method="post">
            <p>
                <label> "username">Введите имя пользователя</label>
                <label>
                    <input type="text" name="username">
                </label>
            </p>
            <p>
                <label for="password">Введите пароль</label>
                <label>
                    <input type="password" name="password">
                </label>
            </p>
            <p>
                <label for="sumbit">Подвердить</label>
                <input type="submit" name="sumbit">
            </p>
            <p>{{message}}</p>
        </form>


        <div class="intro" id="intro">
            <script src="/static/js/three.r119.min.js"></script>
            <script src="/static/js/vanta.rings.min.js"></script>
            <script src="/static/js/gpaphic.js"></script>
        </div>



    </div>
</header>
<main>
    <div class="main"></div>
</main>
<footer></footer>
</body>
</html>
