<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>neyronka</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/neyronka.css">
</head>
<body>

<div>

</div>
<h1>Нажмите на кнопку чтобы получить вашу эмоцию<</h1>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>

<figure class="figure">
    <img src="..." class="figure-img img-fluid rounded" alt="Сопроводительная надпись для изображения.">
    <figcaption class="figure-caption text-right">{{ zalupka321 }}</figcaption>
</figure>
<canvas id="canvas"></canvas>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js'></script>
<script  src="/static/js/neyronka.js"></script>

</body>
</html>