<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/templates/image/icon.ico" type="image/x-icon">
</head>
<body>
<header>
    <div class="header">




    </div>
</header>
<main>
    <div class="main">

        <form action="" method="post">
            <p>
                <label for="login">Введите Логин</label>
                <input type="text" name="login">
            </p>
            <p>
                <label for="password">Введите пароль</label>
                <input type="password" name="password">
            </p>
            <p>
                <label for="Username">Введите имя пользователя</label>
                <input type="Username" name="Username">
            </p>
            <p>
                <label for="sumbit">Подвердить</label>
                <input type="submit" name="sumbit">
            </p>
        </form>

    </div>
</main>
<footer></footer>
</body>
</html>
